---
import { changeLanguage } from "i18next";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Czlonkowie from "../components/Czlonkowie.astro";
import { getFilteredRecords, get, getSingleRecord, records, getAllRecords, } from "../../../common/airtable.js";
//const rec = await get("","Autorzy","NameNormalized", "asc", "", true);
//const rec = await getFilteredRecords("LLLA", true);
//const rec = await getAllRecords("Autorzy");
const rec = await get("", "Autorzy", "NameNormalized", "asc", "LLLA", true);
// This is workaround, because map is not goind to happen without await
import { Image, Picture } from "@astrojs/image/components";

changeLanguage("lt");
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <BaseHead
      title="O nas"
      description="Infromacja o Stowarzyszeniu Literat贸w Polskich na Litwie"
    />
  </head>
  <body>
    <Header title="O nas" />
    <main>
   

      <h1 class="font-bold text-xl mb-2 mt-6">Czonkowie</h1>
      <div class="w-full mb-10">
        Stowarzyszenie Literat贸w Polskich na Litwie zaprasza do czonkostwa
        wszystkich mieszkac贸w Litwy, kt贸rzy zajmuj si tw贸rczoci wasn,
        przekadem lub badaniami literackimi. Nie stawiamy warunk贸w wstpnych,
        ani nie wymagamy skadek czonkowskich, aby umo偶liwi wstpienie do
        naszej organizacji wszystkim chtnym. Im wicej nas bdzie, tym
        skuteczniej bdziemy promowa polsk literatur na Litwie, wspiera jej
        rozw贸j i przyczynia si do polepszenia kondycji polskiej kultury w
        naszym kraju. Wszystkich zainteresowanych wstpieniem do Stowarzyszenia <a
          href="/kontakt"
          class="underline">prosimy o kontakt</a
        >.
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 x1:grid-cols-3 2x1:grid-cols-4 gap-10"
      >
        <!-- <Czlonkowie czlonkowieObject={getFilteredRecords("LLLA", true)} />  -->
        
         <Czlonkowie czlonkowieObject={rec} />
      </div>
      <div class="w-full lg:w-1/2 x1:w-1/2 2x1:w-1/2 mt-10">
        Wszystkich zainteresowanych wstpieniem do Stowarzyszenia <a
          href="/kontakt"
          class="underline">prosimy o kontakt</a
        >.
      </div>
      <div class="py-4"></div>
      <h1 class="font-bold text-xl mb-2">Historia</h1>
      <div>
        Krajowe Stowarzyszenie Literat贸w Polskich powstao w 2009 roku z
        inicjatywy Teresy Markiewicz, Reginy Pszczoowskiej i Aleksandra
        Sokoowskiego, kt贸ry by jego prezesem przez 12 lat. Przez pierwsze 10
        lat organizowao konkursy poetyckie dla modzie偶y i kontakty polskich
        literat贸w z Litwy z Macierz oraz wspierao ich debiuty literackie. W
        2019 roku rozpoczo wasn dziaalno wydawnicz oraz przekadow.
        Wsp贸lnie z partnerami zorganizowao midzynarodowe festiwale Mosty
        Poetyckie, obchody wiatowego Dnia Poezji na Litwie, a tak偶e konkursy
        dla tumaczy i modych pisarzy. Obecnie Stowarzyszenie liczy 19
        czonk贸w, kt贸rzy opr贸cz tw贸rczoci wasnej zajmuj si przekadem
        literackim i rozwojem polsko-litewskiej wsp贸pracy w dziedzinie
        literatury przez dziaalno publicystyczn i promocyjn. Staymi
        partnerami tej dziaalnoci s m. in. stowarzyszenie Slinktys i zwizek
        malarzy polskich Elipsa. W maju 2021 roku, decyzj Walnego Zgromadzenia
        czonk贸w, organizacja przyja nazw Stowarzyszenie Literat贸w Polskich
        na Litwie.
        <br />
        <br />

         <a
          href="https://drive.google.com/file/d/1fa-Sqdbo2RD6zgbMo6oj9Bnkct9ImEUw/view?usp=sharing"
          >Pobierz Statut Stowarzyszenia</a
        >
      </div>
    </main>
    <Footer />
  </body>
</html>
