---
const today = new Date();
---

<footer>
	<hr class="h-px mb-2 mt-4 bg-gray-200 border-0 dark:bg-gray-200">
	<span class="text-xs" style="font-family: 'Work Sans'">&copy; 2009-{today.getFullYear()} Lenkų literatų asociacija • Kodas: 302311985 • Naugarduko 76, LT-03202 Vilnius • IBAN: LT527300010114850224</span>
	
</footer>
<style>
	footer {
		padding: 5px;
		text-align: center;
	}
</style>
