---
import { changeLanguage } from "i18next";

changeLanguage("lt");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>Typesetting - Wikipedia</title>

    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Metal_movable_type.jpg/1200px-Metal_movable_type.jpg"/>
    <link rel="license" href="//creativecommons.org/licenses/by-sa/3.0/"/>
    <link rel="source" href="https://en.wikipedia.org/wiki/Typesetting"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/toc/css/interface.css">
    <link rel="stylesheet" type="text/css" href="/toc/css/style.css">
    <link rel="stylesheet" type="text/css" href="/toc/css/table-of-content.css">

    <!-- paged.js script (online): -->
    <script is:inline src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"
    ></script>

    <!-- paged.js script (with npm): -->
    <!-- <script src="http://localhost:9090/dist/paged.polyfill.js"></script> -->

    <!-- createToc javascript: -->
    <script is:inline  type="text/javascript" src="/toc/js/createToc.js"></script>

    <!-- register handler beforeParsed() and call createToc script -->
    <script is:inline type="text/javascript" src="/toc/js/handlers.js"></script>
    

  </head>


<body>

<div id="content" class="mw-body" role="main">
    
<h1 id="firstHeading" class="firstHeading" lang="en">Typesetting</h1>
<div id="bodyContent" class="mw-body-content">
<div id="siteSub" class="noprint">From Wikipedia, the free encyclopedia</div>

<div id="table-of-content">
    <h1>Table of content</h1>
    <nav id="my-toc-content">
      
    </nav>

</div>

<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">


<p><b>Typesetting</b> is the composition of <a href="/wiki/Written_language" title="Written language">text</a> by means of arranging physical <a href="/wiki/Sort_(typesetting)" title="Sort (typesetting)">types</a><sup id="cite_ref-typesetting_random_house_dictionary_definition_1-0" class="reference"><a href="#cite_note-typesetting_random_house_dictionary_definition-1">&#91;1&#93;</a></sup> or the digital equivalents. Stored letters and other symbols (called <a href="/wiki/Sort_(typesetting)" title="Sort (typesetting)">sorts</a> in mechanical systems and <a href="/wiki/Glyphs" class="mw-redirect" title="Glyphs">glyphs</a> in digital systems) are retrieved and ordered according to a language's <a href="/wiki/Orthography" title="Orthography">orthography</a> for visual display. Typesetting requires one or more <a href="/wiki/Font" title="Font">fonts</a> (which are widely but erroneously confused with and substituted for <a href="/wiki/Typeface" title="Typeface">typefaces</a>). One significant effect of typesetting was that authorship of works could be spotted more easily, making it difficult for copiers who have not gained permission.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">&#91;2&#93;</a></sup>
</p>


<h2 id="Pre-digital_era" class="keep-class">Pre-digital era</h2>
<h3>Manual typesetting</h3>
<p>During much of the <a href="/wiki/Letterpress_printing" title="Letterpress printing">letterpress era</a>, movable type was composed by hand for each <a href="/wiki/Page_(paper)" title="Page (paper)">page</a>. Cast metal <i><a href="/wiki/Sort_(typesetting)" title="Sort (typesetting)">sorts</a></i> were composed into words, then lines, then paragraphs, then pages of text and tightly bound together to make up a <i>form</i>, with all letter faces exactly the same "height to paper", creating an even surface of type. The form was placed in a press, inked, and an impression made on paper.
</p><p>During typesetting, individual sorts are picked from a type case with the right hand, and set into a composing stick held in the left hand from left to right, and as viewed by the setter upside down. As seen in the photo of the composing stick, a lower case 'q' looks like a 'd', a lower case 'b' looks like a 'p', a lower case 'p' looks like a 'b' and a lower case 'd' looks like a 'q'. This is reputed to be the origin of the expression "mind your p's and q's". It might just as easily have been "mind your b's and d's".
</p><p>The diagram at right illustrates a cast metal sort: <b>a</b> face, <b>b</b> body or shank, <b>c</b> point size, <b>1</b> shoulder, <b>2</b> nick, <b>3</b> groove, <b>4</b> foot. Wooden printing sorts were in use for centuries in combination with metal type. Not shown, and more the concern of the casterman, is the “set”, or width of each sort. Set width, like body size, is measured in points.
</p><p>In order to extend the working life of type, and to account for the finite sorts in a case of type, copies of forms were cast when anticipating subsequent printings of a text, freeing the costly type for other work. This was particularly prevalent in book and newspaper work where rotary presses required type forms to wrap an impression cylinder rather than set in the bed of a press. In this process, called <a href="/wiki/Stereotype_(printing)" title="Stereotype (printing)">stereotyping</a>, the entire form is pressed into a fine matrix such as <a href="/wiki/Plaster_of_Paris" class="mw-redirect" title="Plaster of Paris">plaster of Paris</a> or <a href="/wiki/Papier_m%C3%A2ch%C3%A9" class="mw-redirect" title="Papier mâché">papier mâché</a> called a <a href="/wiki/Flong" title="Flong">flong</a> to create a positive, from which the stereotype form was electrotyped, cast of <a href="/wiki/Type_metal" title="Type metal">type metal</a>.
</p><p>Advances such as the <a href="/wiki/Typewriter" title="Typewriter">typewriter</a> and <a href="/wiki/Computer" title="Computer">computer</a> would push the state of the art even farther ahead. Still, hand composition and <a href="/wiki/Letterpress" class="mw-redirect" title="Letterpress">letterpress</a> printing have not fallen completely out of use, and since the introduction of digital typesetting, it has seen a revival as an <a href="/wiki/Artisanal" class="mw-redirect" title="Artisanal">artisanal</a> pursuit. However, it is a very small niche within the larger typesetting market.
</p>
<h3 id="id-h3">Hot metal typesetting</h3>
<p>The time and effort required to manually compose the text led to several efforts in the 19th century to produce mechanical typesetting. While some, such as the <a href="/wiki/Paige_compositor" class="mw-redirect" title="Paige compositor">Paige compositor</a>, met with limited success, by the end of the 19th century, several methods had been devised whereby an operator working a keyboard or other devices could produce the desired text. Most of the successful systems involved the in-house casting of the type to be used, hence are termed "hot metal" typesetting. The <a href="/wiki/Linotype_machine" title="Linotype machine">Linotype machine</a>, invented in 1884, used a keyboard to assemble the casting matrices, and cast an entire line of type at a time (hence its name). In the <a href="/wiki/Monotype_System" title="Monotype System">Monotype System</a>, a keyboard was used to <a href="/wiki/Punched_tape" title="Punched tape">punch a paper tape</a>, which was then fed to control a casting machine. The <a href="/wiki/Ludlow_Typograph" title="Ludlow Typograph">Ludlow Typograph</a> involved hand-set matrices, but otherwise used hot metal. By the early 20th century, the various systems were nearly universal in large newspapers and publishing houses.
</p>
<h3>Phototypesetting</h3>
<p><a href="/wiki/Phototypesetting" title="Phototypesetting">Phototypesetting or "cold type"</a> systems first appeared in the early 1960s and rapidly displaced continuous casting machines. These devices consisted of glass or film disks or strips (one per font) that spun in front of a light source to selectively expose characters onto light-sensitive paper. Originally they were driven by pre-punched paper tapes. Later they were connected to computer front ends.
</p><p>One of the earliest electronic photocomposition systems was introduced by <a href="/wiki/Fairchild_Semiconductor" title="Fairchild Semiconductor">Fairchild Semiconductor</a>. The typesetter typed a line of text on a Fairchild keyboard that had no display. To verify correct content of the line it was typed a second time. If the two lines were identical a bell rang and the machine produced a <a href="/wiki/Punched_tape" title="Punched tape">punched paper tape</a> corresponding to the text. With the completion of a block of lines the typesetter fed the corresponding paper tapes into a phototypesetting device that mechanically set type outlines printed on glass sheets into place for exposure onto a negative <a href="/wiki/Film" title="Film">film</a>. Photosensitive paper was exposed to light through the negative film, resulting in a column of black type on white paper, or a <a href="/wiki/Galley_proof" title="Galley proof">galley</a>.  The galley was then cut up and used to create a mechanical drawing or <a href="/wiki/Paste_up" title="Paste up">paste up</a> of a whole page.  A large film negative of the page is shot and used to make <a href="/wiki/Printing_plate" class="mw-redirect" title="Printing plate">plates</a> for <a href="/wiki/Offset_printing" title="Offset printing">offset printing</a>.
</p>
<h2 id="Digital_era">Digital era</h2>
<p>The next generation of phototypesetting machines to emerge were those that generated characters on a <a href="/wiki/Cathode_ray_tube" class="mw-redirect" title="Cathode ray tube">cathode ray tube</a>. Typical of the type were the Alphanumeric APS2 (1963),<sup id="cite_ref-3" class="reference"><a href="#cite_note-3">&#91;3&#93;</a></sup> IBM 2680 (1967), <a href="/wiki/Information_International,_Inc." title="Information International, Inc.">I.I.I.</a> VideoComp (1973?), Autologic APS5 (1975),<sup id="cite_ref-4" class="reference"><a href="#cite_note-4">&#91;4&#93;</a></sup> and Linotron 202 (1978).<sup id="cite_ref-5" class="reference"><a href="#cite_note-5">&#91;5&#93;</a></sup> These machines were the mainstay of phototypesetting for much of the 1970s and 1980s. Such machines could be "driven online" by a computer front-end system or took their data from magnetic tape. Type fonts were stored digitally on conventional magnetic disk drives.
</p><p><a href="/wiki/Computer" title="Computer">Computers</a> excel at automatically typesetting and correcting documents.<sup id="cite_ref-CorrectingTypesettingMistakes_6-0" class="reference"><a href="#cite_note-CorrectingTypesettingMistakes-6">&#91;6&#93;</a></sup> Character-by-character, computer-aided <a href="/wiki/Phototypesetting" title="Phototypesetting">phototypesetting</a> was, in turn, rapidly rendered obsolete in the 1980s by fully digital systems employing a <a href="/wiki/Raster_image_processor" title="Raster image processor">raster image processor</a> to <a href="/wiki/Rendering_(computer_graphics)" title="Rendering (computer graphics)">render</a> an entire page to a single high-resolution <a href="/wiki/Digital_image" title="Digital image">digital image</a>, now known as imagesetting.
</p><p>The first commercially successful laser imagesetter, able to make use of a raster image processor was the Monotype Lasercomp. ECRM, <a href="/wiki/Compugraphic" title="Compugraphic">Compugraphic</a> (later purchased by <a href="/wiki/Agfa-Gevaert" title="Agfa-Gevaert">Agfa</a>) and others rapidly followed suit with machines of their own.
</p><p>Early <a href="/wiki/Minicomputer" title="Minicomputer">minicomputer</a>-based typesetting software introduced in the 1970s and early 1980s, such as <a href="/wiki/Datalogics" title="Datalogics">Datalogics</a> Pager, Penta, <a href="/wiki/Atex_(software)" title="Atex (software)">Atex</a>, Miles 33, Xyvision, troff from <a href="/wiki/Bell_Labs" title="Bell Labs">Bell Labs</a>, and IBM's <a href="/wiki/IBM_SCRIPT" class="mw-redirect" title="IBM SCRIPT">Script</a> product with CRT terminals, were better able to drive these electromechanical devices, and used text <a href="/wiki/Markup_language" title="Markup language">markup languages</a> to describe <a href="/wiki/Typeface" title="Typeface">type</a> and other page formatting information. The descendants of these text markup languages include <a href="/wiki/SGML" class="mw-redirect" title="SGML">SGML</a>, <a href="/wiki/XML" title="XML">XML</a> and <a href="/wiki/HTML" title="HTML">HTML</a>.
</p><p>The minicomputer systems output columns of text on film for paste-up and eventually produced entire pages and <a href="/wiki/Signature" title="Signature">signatures</a> of 4, 8, 16 or more pages using <a href="/wiki/Imposition" title="Imposition">imposition</a> software on devices such as the Israeli-made <a href="/wiki/Scitex" class="mw-redirect" title="Scitex">Scitex</a> Dolev. The data stream used by these systems to drive page layout on printers and imagesetters, often proprietary or specific to a manufacturer or device, drove development of generalized printer control languages, such as <a href="/wiki/Adobe_Systems" class="mw-redirect" title="Adobe Systems">Adobe Systems</a>' <a href="/wiki/PostScript" title="PostScript">PostScript</a> and <a href="/wiki/Hewlett-Packard" title="Hewlett-Packard">Hewlett-Packard</a>'s <a href="/wiki/Printer_Command_Language" title="Printer Command Language">PCL</a>.
</p>
<p>Computerized typesetting was so rare that <i><a href="/wiki/BYTE" class="mw-redirect" title="BYTE">BYTE</a></i> (comparing itself to "the proverbial shoemaker's children who went barefoot") did not use any computers in production until its August 1979 issue used a Compugraphics system for typesetting and page layout. The magazine did not yet accept articles on floppy disks, but hoped to do so "as matters progress".<sup id="cite_ref-helmers197908_7-0" class="reference"><a href="#cite_note-helmers197908-7">&#91;7&#93;</a></sup> Before the 1980s, practically all typesetting for publishers and advertisers was performed by specialist typesetting companies. These companies performed keyboarding, editing and production of paper or film output, and formed a large component of the graphic arts industry. In the United States, these companies were located in rural Pennsylvania, New England or the Midwest, where labor was cheap and paper was produced nearby, but still within a few hours' travel time of the major publishing centers.
</p><p>In 1985, <a href="/wiki/Desktop_publishing" title="Desktop publishing">desktop publishing</a> became available, starting with the <a href="/wiki/Apple_Macintosh" class="mw-redirect" title="Apple Macintosh">Apple Macintosh</a>, <a href="/wiki/Adobe_PageMaker" title="Adobe PageMaker">Aldus PageMaker</a> (and later <a href="/wiki/QuarkXPress" title="QuarkXPress">QuarkXPress</a>) and <a href="/wiki/PostScript" title="PostScript">PostScript</a>. Improvements in software and hardware, and rapidly lowering costs, popularized desktop publishing and enabled very fine control of typeset results much less expensively than the minicomputer dedicated systems. At the same time, word processing systems, such as <a href="/wiki/Wang_Laboratories" title="Wang Laboratories">Wang</a> and <a href="/wiki/WordPerfect" title="WordPerfect">WordPerfect</a>, revolutionized office documents. They did not, however, have the typographic ability or flexibility required for complicated book layout, graphics, mathematics, or advanced hyphenation and justification rules (<i>H and J</i>).
</p><p>By the year 2000, this industry segment had shrunk because publishers were now capable of integrating typesetting and graphic design on their own in-house computers. Many found the cost of maintaining high standards of typographic design and technical skill made it more economical to outsource to freelancers and graphic design specialists.
</p><p>The availability of cheap or free <a href="/wiki/Font" title="Font">fonts</a> made the conversion to do-it-yourself easier, but also opened up a gap between skilled designers and amateurs. The advent of <a href="/wiki/PostScript" title="PostScript">PostScript</a>, supplemented by the <a href="/wiki/Portable_Document_Format" class="mw-redirect" title="Portable Document Format">PDF</a> file format, provided a universal method of proofing designs and layouts, readable on major computers and operating systems.
</p>
<h3>SCRIPT variants</h3>
<p>IBM created and inspired a family of typesetting languages with names that were derivatives of the word "SCRIPT". Later versions of SCRIPT included advanced features, such as automatic generation of a table of contents and index, <a href="/wiki/Column_(typography)" title="Column (typography)">multicolumn</a> page layout, footnotes, boxes, automatic hyphenation and spelling verification.<sup id="cite_ref-8" class="reference"><a href="#cite_note-8">&#91;8&#93;</a></sup>
</p><p>NSCRIPT was a port of SCRIPT to OS and TSO from CP-67/CMS SCRIPT.<sup id="cite_ref-9" class="reference"><a href="#cite_note-9">&#91;9&#93;</a></sup>
</p><p>Waterloo Script was created at the University of Waterloo later.<sup id="cite_ref-10" class="reference"><a href="#cite_note-10">&#91;10&#93;</a></sup> One version of SCRIPT was created at MIT and the AA/CS at UW took over project development in 1974. The program was first used at UW in 1975. In the 1970s, SCRIPT was the only practical way to word process and format documents using a computer. By the late 1980s, the SCRIPT system had been extended to incorporate various upgrades.<sup id="cite_ref-11" class="reference"><a href="#cite_note-11">&#91;11&#93;</a></sup>
</p><p>The initial implementation of SCRIPT at UW was documented in the May 1975 issue of the Computing Centre Newsletter, which noted some the advantages of using SCRIPT:
</p><p>a) It easily handles footnotes.
</p><p>b) Page numbers can be in Arabic or Roman numerals, and can appear at the top or bottom of the page, in the centre, on the left or on the right, or on the left for even-numbered pages and on the right for odd-numbered pages.
</p><p>c) Underscoring or overstriking can be made a function of SCRIPT, thus uncomplicating editor functions.
</p><p>d) SCRIPT files are regular OS datasets or CMS files.
</p><p>e) Output can be obtained on the printer, or at the terminal…" 
The article also pointed out SCRIPT had over 100 commands to assist in formatting documents, though 8 to 10 of these commands were sufficient to complete most formatting jobs.  Thus, SCRIPT had many of the capabilities computer users generally associate with contemporary word processors.<sup id="cite_ref-12" class="reference"><a href="#cite_note-12">&#91;12&#93;</a></sup>
</p><p><a href="/wiki/SCRIPT/VS" class="mw-redirect" title="SCRIPT/VS">SCRIPT/VS</a> was a SCRIPT variant developed at IBM in the 1980s.
</p><p>DWScript is a version of SCRIPT for MS-DOS, called after its author, D. D. Williams,<sup id="cite_ref-13" class="reference"><a href="#cite_note-13">&#91;13&#93;</a></sup> but was never released to the public and only used internally by IBM.
</p><p>Script is still available from IBM as part of the <a href="/w/index.php?title=Document_Composition_Facility&amp;action=edit&amp;redlink=1" class="new" title="Document Composition Facility (page does not exist)">Document Composition Facility</a> for the <a href="/wiki/Z/OS" title="Z/OS">z/OS</a> operating system.<sup id="cite_ref-14" class="reference"><a href="#cite_note-14">&#91;14&#93;</a></sup>
</p>
<h3>SGML and XML systems</h3>
<p>The standard generalized markup language (<a href="/wiki/SGML" class="mw-redirect" title="SGML">SGML</a>) was based upon IBM <a href="/wiki/Generalized_Markup_Language" class="mw-redirect" title="Generalized Markup Language">Generalized Markup Language</a> (GML). GML was a set of macros on top of IBM Script. <a href="/wiki/Document_Style_Semantics_and_Specification_Language" title="Document Style Semantics and Specification Language">DSSSL</a> is an international standard developed to provide a stylesheets for SGML documents.
</p><p><a href="/wiki/XML" title="XML">XML</a> is a successor of SGML. <a href="/wiki/XSL_Formatting_Objects" title="XSL Formatting Objects">XSL-FO</a> is most often used to generate PDF files from XML files.
</p><p>The arrival of <a href="/wiki/SGML" class="mw-redirect" title="SGML">SGML</a>/<a href="/wiki/XML" title="XML">XML</a> as the document model made other typesetting engines popular.
</p><p>Such engines include Datalogics Pager, Penta, Miles 33's OASYS, Xyvision's <a href="/wiki/XML_Professional_Publisher_(XPP)" class="mw-redirect" title="XML Professional Publisher (XPP)">XML Professional Publisher (XPP)</a>, <a href="/wiki/FrameMaker" class="mw-redirect" title="FrameMaker">FrameMaker</a>, <a href="/wiki/Arbortext" class="mw-redirect" title="Arbortext">Arbortext</a>. XSL-FO compatible engines include <a href="/wiki/Apache_FOP" class="mw-redirect" title="Apache FOP">Apache FOP</a>, <a href="/wiki/Antenna_House_Formatter" title="Antenna House Formatter">Antenna House Formatter</a>, <a href="/wiki/RenderX" title="RenderX">RenderX</a>'s <a href="/wiki/XEP_(software)" class="mw-redirect" title="XEP (software)">XEP</a>.
These products allow users to program their SGML/XML typesetting process with the help of scripting languages.
</p><p>YesLogic's <a href="/wiki/Prince_XML" class="mw-redirect" title="Prince XML">Prince</a> is another one, which is based on CSS Paged Media.
</p>
<h3>Troff and successors</h3>
<p>During the mid-1970s, <a href="/wiki/Joseph_Ossanna" class="mw-redirect" title="Joseph Ossanna">Joseph Ossanna</a>, working at <a href="/wiki/Bell_Laboratories" class="mw-redirect" title="Bell Laboratories">Bell Laboratories</a>, wrote the troff typesetting program to drive a Wang C/A/T <a href="/wiki/Phototypesetter" class="mw-redirect" title="Phototypesetter">phototypesetter</a> owned by the Labs; it was later enhanced by <a href="/wiki/Brian_Kernighan" title="Brian Kernighan">Brian Kernighan</a> to support output to different equipment, such as <a href="/wiki/Laser_printer" class="mw-redirect" title="Laser printer">laser printers</a>. While its use has fallen off, it is still included with a number of <a href="/wiki/Unix" title="Unix">Unix</a> and <a href="/wiki/Unix-like" title="Unix-like">Unix-like</a> systems, and has been used to typeset a number of high-profile technical and computer books. Some versions, as well as a <a href="/wiki/GNU" title="GNU">GNU</a> work-alike called <a href="/wiki/Groff_(software)" title="Groff (software)">groff</a>, are now <a href="/wiki/Open_source" title="Open source">open source</a>.
</p>
<h3>TeX and LaTeX</h3>
<p>The <a href="/wiki/TeX" title="TeX">TeX</a> system, developed by <a href="/wiki/Donald_E._Knuth" class="mw-redirect" title="Donald E. Knuth">Donald E. Knuth</a> at the end of the 1970s, is another widespread and powerful automated typesetting system that has set high standards, especially for typesetting mathematics. <a href="/wiki/LuaTeX" title="LuaTeX">LuaTeX</a> and LuaLaTeX are variants of <a href="/wiki/TeX" title="TeX">TeX</a> and of <a href="/wiki/LaTeX" title="LaTeX">LaTeX</a> scriptable in <a href="/wiki/Lua_(programming_language)" title="Lua (programming language)">Lua</a>.  TeX is considered fairly difficult to learn on its own, and deals more with appearance than structure. The <a href="/wiki/LaTeX" title="LaTeX">LaTeX</a> macro package written by <a href="/wiki/Leslie_Lamport" title="Leslie Lamport">Leslie Lamport</a> at the beginning of the 1980s offered a simpler interface, and an easier way to systematically encode the structure of a document. LaTeX markup is very widely used in academic circles for published papers and even books. Although standard TeX does not provide an interface of any sort, there are programs that do. These programs include <a href="/wiki/Scientific_Workplace" class="mw-redirect" title="Scientific Workplace">Scientific Workplace</a>, <a href="/wiki/Texmacs" class="mw-redirect" title="Texmacs">TeXmacs</a>, <a href="/wiki/MiKTeX" title="MiKTeX">MiKTeX</a> and <a href="/wiki/LyX" title="LyX">LyX</a>, which are graphical/interactive editors.
</p>
<h2 id="Other_text_formatters">Other text formatters</h2>
<p>Several other text formatting software exist, but are not widely used. Notably  <a href="/wiki/Lout_(software)" title="Lout (software)">Lout</a>, <a rel="nofollow" class="external text" href="http://patoline.org/">Patoline</a>, <a rel="nofollow" class="external text" href="http://sile-typesetter.org">Sile</a>, <a rel="nofollow" class="external text" href="https://docs.racket-lang.org/pollen/">Pollen</a>, <a rel="nofollow" class="external text" href="http://mirror.hmc.edu/ctan/systems/ant/">Ant</a>
</p>
<h2 id="References">References</h2>
<div class="reflist columns references-column-width" style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;">
<ol class="references">
<li id="cite_note-typesetting_random_house_dictionary_definition-1"><span class="mw-cite-backlink"><b><a href="#cite_ref-typesetting_random_house_dictionary_definition_1-0">^</a></b></span> <span class="reference-text">Dictionary.com Unabridged. Random House, Inc. 23 December 2009. <a rel="nofollow" class="external text" href="http://dictionary.reference.com/browse/typeset">Dictionary.reference.com</a></span>
</li>
<li id="cite_note-2"><span class="mw-cite-backlink"><b><a href="#cite_ref-2">^</a></b></span> <span class="reference-text">Murray, Stuart A., <i>The Library: An Illustrated History</i>, ALA edition, Skyhorse, 2009, page 131</span>
</li>
<li id="cite_note-3"><span class="mw-cite-backlink"><b><a href="#cite_ref-3">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="https://books.google.com/books?id=G6a2tSuOoq8C&amp;pg=PA351">Encyclopedia of Computer Science and Technology</a>, 1976</span>
</li>
<li id="cite_note-4"><span class="mw-cite-backlink"><b><a href="#cite_ref-4">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="https://books.google.com/books?id=G6a2tSuOoq8C&amp;pg=PA352">Encyclopedia of Computer Science and Technology</a></span>
</li>
<li id="cite_note-5"><span class="mw-cite-backlink"><b><a href="#cite_ref-5">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.linotype.com/en/49-14026/19731989.html">Linotype History</a></span>
</li>
<li id="cite_note-CorrectingTypesettingMistakes-6"><span class="mw-cite-backlink"><b><a href="#cite_ref-CorrectingTypesettingMistakes_6-0">^</a></b></span> <span class="reference-text">
<cite class="citation journal">Petru-Ioan Becheru (Oct 2011). <a rel="nofollow" class="external text" href="http://anale-mi.spiruharet.ro/(83)">"Correcting Romanian typesetting mistakes by using regular expressions"</a>. <i><a href="/w/index.php?title=Analele_Universit%C4%83%C8%9Bii_Spiru_Haret_%E2%80%94_Seria_Matematic%C4%83-Informatic%C4%83&amp;action=edit&amp;redlink=1" class="new" title="Analele Universității Spiru Haret — Seria Matematică-Informatică (page does not exist)">An. Univ. Spiru Haret—ser. matemat.-inform.</a></i> <b>7</b> (2): 31–36. <a href="/wiki/International_Standard_Serial_Number" title="International Standard Serial Number">ISSN</a>&#160;<a rel="nofollow" class="external text" href="//www.worldcat.org/issn/1841-7833">1841-7833</a>. 83<span class="reference-accessdate">. Retrieved <span class="nowrap">2012-04-09</span></span>.</cite><span title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.jtitle=An.+Univ.+Spiru+Haret%E2%80%94ser.+matemat.-inform.&amp;rft.atitle=Correcting+Romanian+typesetting+mistakes+by+using+regular+expressions&amp;rft.volume=7&amp;rft.issue=2&amp;rft.pages=31-36&amp;rft.date=2011-10&amp;rft.issn=1841-7833&amp;rft.au=Petru-Ioan+Becheru&amp;rft_id=http%3A%2F%2Fanale-mi.spiruharet.ro%2F%2883%29&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ATypesetting" class="Z3988"></span><style data-mw-deduplicate="TemplateStyles:r879151008">.mw-parser-output cite.citation{font-style:inherit}.mw-parser-output .citation q{quotes:"\"""\"""'""'"}.mw-parser-output .citation .cs1-lock-free a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/6/65/Lock-green.svg/9px-Lock-green.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-limited a,.mw-parser-output .citation .cs1-lock-registration a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Lock-gray-alt-2.svg/9px-Lock-gray-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .citation .cs1-lock-subscription a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Lock-red-alt-2.svg/9px-Lock-red-alt-2.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration{color:#555}.mw-parser-output .cs1-subscription span,.mw-parser-output .cs1-registration span{border-bottom:1px dotted;cursor:help}.mw-parser-output .cs1-ws-icon a{background:url("//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/12px-Wikisource-logo.svg.png")no-repeat;background-position:right .1em center}.mw-parser-output code.cs1-code{color:inherit;background:inherit;border:inherit;padding:inherit}.mw-parser-output .cs1-hidden-error{display:none;font-size:100%}.mw-parser-output .cs1-visible-error{font-size:100%}.mw-parser-output .cs1-maint{display:none;color:#33aa33;margin-left:0.3em}.mw-parser-output .cs1-subscription,.mw-parser-output .cs1-registration,.mw-parser-output .cs1-format{font-size:95%}.mw-parser-output .cs1-kern-left,.mw-parser-output .cs1-kern-wl-left{padding-left:0.2em}.mw-parser-output .cs1-kern-right,.mw-parser-output .cs1-kern-wl-right{padding-right:0.2em}</style>(webpage has a translation button)</span>
</li>
<li id="cite_note-helmers197908-7"><span class="mw-cite-backlink"><b><a href="#cite_ref-helmers197908_7-0">^</a></b></span> <span class="reference-text"><cite class="citation magazine">Helmers, Carl (August 1979). <a rel="nofollow" class="external text" href="https://archive.org/stream/byte-magazine-1979-08/1979_08_BYTE_04-08_LISP#page/n157/mode/2up">"Notes on the Appearance of BYTE..."</a> <i>BYTE</i>. pp.&#160;158–159.</cite><span title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.jtitle=BYTE&amp;rft.atitle=Notes+on+the+Appearance+of+BYTE...&amp;rft.pages=158-159&amp;rft.date=1979-08&amp;rft.aulast=Helmers&amp;rft.aufirst=Carl&amp;rft_id=https%3A%2F%2Farchive.org%2Fstream%2Fbyte-magazine-1979-08%2F1979_08_BYTE_04-08_LISP%23page%2Fn157%2Fmode%2F2up&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ATypesetting" class="Z3988"></span><link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r879151008"/></span>
</li>
<li id="cite_note-8"><span class="mw-cite-backlink"><b><a href="#cite_ref-8">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://web.utk.edu/~mnewman/ibmguide07.html">U01-0547, "Introduction to SCRIPT,"</a> is available through PRTDOC.</span>
</li>
<li id="cite_note-9"><span class="mw-cite-backlink"><b><a href="#cite_ref-9">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://csg.uwaterloo.ca/sdtp/watscr.html">SCRIPT 90.1 Implementation Guide</a>, June 6, 1990</span>
</li>
<li id="cite_note-10"><span class="mw-cite-backlink"><b><a href="#cite_ref-10">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://csg.uwaterloo.ca/sdtp/watscr.html">CSG.uwaterloo.ca</a></span>
</li>
<li id="cite_note-11"><span class="mw-cite-backlink"><b><a href="#cite_ref-11">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.cs.uwaterloo.ca/40th/Chronology/1974.shtml">A Chronology of Computing at The University of Waterloo</a></span>
</li>
<li id="cite_note-12"><span class="mw-cite-backlink"><b><a href="#cite_ref-12">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www.cs.uwaterloo.ca/40th/Chronology/ChronologyGlossary.pdf">Glossary of University of Waterloo Computing Chronology</a></span>
</li>
<li id="cite_note-13"><span class="mw-cite-backlink"><b><a href="#cite_ref-13">^</a></b></span> <span class="reference-text">DWScript – Document Composition Facility for the IBM Personal Computer Version 4.6 Updates, DW-04167, Nov 8th, 1985</span>
</li>
<li id="cite_note-14"><span class="mw-cite-backlink"><b><a href="#cite_ref-14">^</a></b></span> <span class="reference-text"><a rel="nofollow" class="external text" href="http://www-03.ibm.com/systems/z/os/zos/printsoftware/dcfhome_z_ww.html">IBM Document Composition Facility (DCF)</a></span>
</li>
</ol></div>

	</div>
		
		<div id="footer" role="contentinfo">
                <ul id="footer-info">
                        <li id="footer-info-lastmod"> This page was last edited on 10 January 2019, at 06:39<span class="anonymous-show">&#160;(UTC)</span>.</li>
                        <li id="footer-info-copyright">Text is available under the <a rel="license" href="//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a><a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/" style="display:none;"></a>; additional terms may apply.  By using this site, you agree to the <a href="//foundation.wikimedia.org/wiki/Terms_of_Use">Terms of Use</a> and <a href="//foundation.wikimedia.org/wiki/Privacy_policy">Privacy Policy</a>. Wikipedia® is a registered trademark of the <a href="//www.wikimediafoundation.org/">Wikimedia Foundation, Inc.</a>, a non-profit organization.</li>
                </ul>
						
        </div>


    </div>

	</body>
</html>
